*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-align: center;
    
}

h1 {
    text-align: center;
    color: blue;

}